.footer {
  padding: var(--spacing-3xl) 0;
  background-color: var(--color-background);
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;
}

.footer-logo-image {
  height: 32px;
  width: auto;
  opacity: 0.7;
}

